h1 {
  overflow: hidden;
  text-align: center;
}
h1 span {
  position: relative;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  text-align: left;
}
h1 span::before,
h1 span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 400%;
  height: 1px;
  background-color: #ccc;
}
h1 span::before {
  right: 100%;
}
h1 span::after {
  left: 100%;
}
a {
  color: #f90;
}

/*表示領域*/
.container {
  max-width: 800px;
  margin: auto;
  font-family: 'Noto Sans JP', sans-serif;
}
/*修飾*/
.achieve {
  font-size: 150%;
  color: #f90;
}
.footer {
  font-size: 70%;
  color: #666;
}
/*提案画像を表示する領域*/
.boxes {
  width: 100%;
  padding: 20px;
}
.suggestion {
  display: inline-block;
  width: 200px;
  height: 200px;
  color: #000;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fb6;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 5px;
  border: solid 2px #333;
  transition-duration: 0.3s;
}
.suggestion>p {
  opacity: 0;
  transition-duration: 0.3s;
  font-weight: bold;
  text-shadow: 1px 2px 3px #666;
}
.suggestion:hover {
  background-color:rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  transition-duration: 0.3s;
}
.suggestion:hover>p {
  opacity: 1;
  transition-duration: 0.3s;
}
/*METs達成率ゲージ*/
.gauge {
  width: 600px;
  margin: 0 auto;
  border: solid 5px #333;
  border-radius: 30px;
}
.gauge_progress {
  height: 40px;
  margin: 0;
  background: linear-gradient(to right,#fb6,#f90);
  border-radius: 20px;
  -webkit-animation: anime1 1s 1 ease;
  animation: anime1 1s 1 ease;
}
@-webkit-keyframes anime1 {
  0% {width: 0px;}
}
@keyframes anime1 {
  0% {width: 0px;}
}
/*アコーディオンメニュー*/
.acd_check{
  display: none;
}
.acd_label{
  display: block;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}
.acd_content{
  border: 2px solid #333;
  border-radius: 5px;
  max-width: 600px;
  height: 0;
  opacity: 0;
  font-size: 0;
  text-align: center;
  padding: 10px 10px 20px;
  margin: auto;
  transition: .5s;
  visibility: hidden;
}
.acd_check:checked + .acd_label + .acd_content{
  height: auto;
  opacity: 1;
  font-size: 100%;
  visibility: visible;
}
